{% extends 'base.html' %}
{% block content %}

<div class="container my-5">
  <div class="row">

    <!-- TOUR DETAILS -->
    <div class="col-md-6">
      <img src="{{ tour.image.url }}" class="img-fluid rounded">
      <h2 class="mt-3">{{ tour.title }}</h2>
      <p>{{ tour.description }}</p>
      <p><strong>Destination:</strong> {{ tour.destination }}</p>
      <p><strong>Duration:</strong> {{ tour.duration }}</p>
      <p><strong>Price:</strong> KES {{ tour.price }}</p>
    </div>

    <!-- BOOKING FORM -->
    <div class="col-md-6">
      <h3>Book This Tour</h3>

      <form method="post">
        {% csrf_token %}

          {{ form.non_field_errors }}

            <div class="mb-3">
              {{ form.full_name.label_tag }}
              {{ form.full_name }}
              {{ form.full_name.errors }}
              </div>

            <div class="mb-3">
              {{ form.email.label_tag }}
              {{ form.email }}
              {{ form.email.errors }}
            </div>

            <div class="mb-3">
              {{ form.phone.label_tag }}
              {{ form.phone }}
              {{ form.phone.errors }}
            </div>

            <div class="mb-3">
              {{ form.persons.label_tag }}
              {{ form.persons }}
              {{ form.persons.errors }}
            </div>

        <button type="submit" class="btn btn-primary w-100">
           Book Now
        </button>
      </form>


    </div>

  </div>
</div>

{% endblock %}
