# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
