Django>=5.0
Pillow
python-decouple
django-crispy-forms
crispy-bootstrap5
stripe
django-filter
psycopg[binary]
python-dotenv
gunicorn
dj-database-url
whitenoise
reportlab==4.1.0
cloudinary
django-cloudinary-storage



